<% content_for :header_tags do %>
  <%= stylesheet_link_tag('issue_history_tabs.css', :plugin => :redmine_issue_detailed_tabs_time) %>
<% end %>

<div class="issue-section with-tabs">
  <div id="history">
    <div class="full-list">
      <%= render 'history', issue: @issue, journals: @journals, changesets: @changesets %>
    </div>
  </div>
</div>
