<div class="issue-section with-tabs">
  <div id="history">
    <div class="full-list">
      <%= render 'history', issue: @issue, journals: @journals, changesets: @changesets %>
    </div>
  </div>
</div>